@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  min-width: 100%;
}

#system {
  height: 100vh;
  background: url('images/star-background.jpg') center/ 50%;
  justify-content: center;
}

#system,
#system-elements,
.planet-spec,
.subplanets {
  display: flex;
}

#system,
.subplanets,
.planet-spec,
#system-elements,
.back-system {
  align-items: center;
}

.system-element-title,
#system-info {
  font-size: 1em;
}

.system-element-title,
#system-info,
.planet-spec-text,
.planet-description {
  font-weight: 300;
}

#system-info {
  margin: 0;
  top: 25px;
  left: 25px;
}

#system-elements {
  padding: 0 50px;
  justify-content: space-between;
}

.system-element {
  border-radius: 50%;
  margin: 0 20px;
  box-shadow:
    0 0 8px 2px rgba(196, 196, 196, 0.08),
    0 0 18px 8px rgba(255, 255, 255, 0.15);
}

.system-element.planet-small:hover,
.system-element.planet-medium:hover,
.system-element.planet-big:hover {
  cursor: pointer;
}

.system-element,
.system-element-info,
.subplanets,
.planet,
.arrow {
  position: relative;
}

.system-element,
.system-element::before,
.system-element::after {
  background-color: #C4C4C4;
}

.system-element::before,
.system-element::after,
.subplanets-planets,
#system-info,
.system-element-title {
  position: absolute;
}

.system-element::before,
.system-element::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  top: 50%;
  transform: translate3D(0%, -50%, 0);
}

.system-element::before {
  left: 0%;
  margin-left: -20px;
}

.system-element::after {
  right: 0%;
  margin-right: -20px;
}

.subplanets-planets .system-element:first-child::before,
.star::before,
.system-element:last-child::after {
  visibility: hidden;
}

.star {
  width: 250px;
  height: 250px;
  background:radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b700 39%,
    #e06317 100%
  );
  background-clip: padding-box;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow:
    0 0 10px 2px rgba(255, 107, 0, 0.4),
    0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.asteroids {
  border-radius: initial;
  width: 5px;
  height: 100px;
  box-shadow: none;
}

/* https://codepen.io/maaarj/pen/YZLEBM */
#alteris {
	background: linear-gradient(
    150deg,
    #6E81E3 55%,
    #f9026d 98%
  );
  box-shadow:
    0 0 10px 2px rgba(249, 2, 109, 0.1),
    0 0 22px 11px rgba(110, 129, 227, 0.2);
}

/* https://codepen.io/artyom-ivanov/pen/QjOYbO */
#omnia {
  background: url('images/omnia.jpg') repeat-x 90%;
  box-shadow:
    0 0 60px -20px rgba(255, 189, 3, 0.72),
    -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
}

.planet {
  position: absolute;
  top: 0;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s;
}

.show-planet-info {
  opacity: 1;
  pointer-events: initial
}

.planet-small {
  width: 25px;
  height: 25px;
}

.planet-medium {
  width: 60px;
  height: 60px;
}

.planet-big {
  width: 120px;
  height: 120px;
}

.subplanets {
  flex-direction: column;
}

.subplanets-planets {
  bottom: 0;
  transform: rotate(180deg);
  transform-origin: bottom;
}

.subplanets-planets .system-element {
  margin: 20px 0;
  transform: rotate(90deg);
}

.subplanets-planets .system-element:last-child::after {
  visibility: visible
}

.system-element-title {
  top: -40px;
  right: -40px;
  width: max-content;
}

.planet {
  height: 100%;
  width: 100%;
  background: #181743;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.planet-info {
  max-width: 550px;
  padding: 25px 35px;
}

.planet-title {
  font-size: 3em;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.planet-description {
  margin: 0 0 15px 0;
}

.planet-specs {
  padding-left: 0;
  list-style-type: none;
}

.planet-spec-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.planet-spec-text {
  font-size: 0.75em;
  margin-left: 15px;
}

.back-system {
  position: absolute;
  display: flex;
  left: 25px;
  bottom: 25px;
}

.back-system:hover {
  cursor: pointer;
}

.arrow {
  width: 35px;
  height: 2px;
  background: #fff;
  margin-right: 15px;
}

.arrow::before,
.arrow::after {
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
  left: -3px;
  background: #fff;
}

.arrow::before {
  top: -3px;
  transform: rotate(-45deg);
}

.arrow::after {
  bottom: -3px;
  transform: rotate(45deg);
}

.planet-space {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.planet-space-element {
  background-color: #C4C4C4;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  animation: planet-moving2 2s ease infinite;
  animation-delay: 0.5s;
}

.planet-space-other {
		border-radius: 100%;
		position: absolute;
		animation: twinkle 1s ease infinite;
    width:10px;
		height:10px;
		background: linear-gradient(
      to right,
      HSL(287, 81%, 81%),
      transparent
    );
}

.planet-space-other:nth-child(2) {
	left: 150px;
	top: 120px;
	animation-delay: 0.6s;
}

.planet-space-other:nth-child(3) {
	left: 550px;
	top: 100px;
	animation-delay: 1.5s;
}

.planet-space-other:nth-child(4) {
	right: 150px;
	top: 220px;
	animation-delay: 2.5s;
}

.planet-space-other:nth-child(5) {
	left: 160px;
	top: 240px;
	animation-delay: 0.5s;
}

.planet-space-other:nth-child(6) {
	right: 150px;
	bottom: 120px;
	animation-delay: 1.25s;
}

.planet-space-other:nth-child(7) {
	right: 250px;
	bottom: 320px;
	animation-delay: 0.45s;
}

.planet-space-other:nth-child(8) {
	left: 150px;
	bottom: 120px;
	animation-delay: 0.65s;
}

.planet-space-other:nth-child(9) {
	left: 400px;
	bottom: 140px;
	animation-delay: 0.59s;
}

.management {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 35px;
  right: 30px;
}

.management-form {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  background-color: rgba(196, 196, 196, .3);
  margin-bottom: 15px;
  border-radius: 20px;
  transform: translate3D(0, 100px, 0);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.show-form {
  transform: translate3D(0, 0, 0);
  opacity: 1;
  pointer-events: initial;
}

.show-form + button {
  transform: rotate(45deg);
}

.fetch-button {
  font-size: 15px;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: rgba(196, 196, 196, 1);
  border: none;
  position: absolute;
  bottom: 25px;
  left: 15px;
  transition: all 0.2s ease-in-out;
  outline: 0;
}

.fetch-button:hover {
  cursor: pointer;
  opacity: 0.6;
}


.management-add {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  background-color: rgba(196, 196, 196, 1);
  border: none;
  outline: 0;
}

.management-add:hover {
  cursor: pointer;
}

.management-form-input {
  margin: 5px 0;
}

#omnia-section {
  background: #202040;
}

#omnia-planet {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:
    0 0 60px -20px rgba(255, 189, 3, 0.72),
    -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
  left: 50%;
  top: 50%;
  margin: -150px;
}

#omnia-planet .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow:
    inset -10px -10px 40px #251303,
    inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
  border-radius: 50%;
}

#omnia-planet .background {
  animation: translateBackground 40s infinite linear;
  background: url('images/mars.jpg') repeat-x;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
}

#omnia-planet .clouds {
  background: url('images/clouds.png') repeat-x;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  animation: translateBackground 30s infinite linear;
  opacity: 0.4;
}

#omnia-planet .wrap {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  animation: rotatePlanet 150s infinite linear;
}

.orbit {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  transform-origin: center;
  animation: rotateOrbit 30s infinite linear;
}

.suborbit {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('images/moon.jpg') repeat-x 50%;
  box-shadow:
    0 0 8px 2px rgba(196, 196, 196, 0.08),
    0 0 18px 8px rgba(255, 255, 255, 0.15);
}

@keyframes translateBackground {
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}

@keyframes rotatePlanet {
  0%{
    transform:rotateZ(0);
  }
  100%{
    transform:rotateZ(-360deg);
  }
}

@keyframes rotateOrbit {
  100%{
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes planet-moving2 {
	0%{transform: translateY(0%)}
	50%{transform: translateY(2%)}
	100%{transform: translateY(0%)}
}

@keyframes twinkle {
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}

@media (max-width: 640px) {
  #system {
    height: 100%;
  }

  .hide-system {
    display: none !important;
  }

  #system-elements {
    flex-direction: column;
    padding: 100px 0 50px;
  }

  .asteroids {
    width: 100px;
    height: 5px;
  }

  .system-element {
    margin: 20px 0;
  }

  .system-element:before,
  .system-element:after {
    width: 2px;
    height: 20px;
    left: 50%;
    top: initial;
    transform: translate3D(-50%, 0, 0);
    margin-left: 0;
  }

  .system-element::before {
    top: 0;
    margin-top: -20px;
  }

  .system-element::after {
    bottom: 0;
    margin-bottom: -20px;
  }

  .subplanets-planets .system-element {
    margin: 0 20px;
    transform: rotate(-90deg);
  }

  .subplanets-planets {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform-origin: right;
    right: 0;
    bottom: 50%;
    top: 50%;
    transform: translate3D(0, -50%, 0) rotate(180deg);
  }

  .management {
    flex-direction: row-reverse;
    align-items: flex-end;
    bottom: 25px;
    left: 20px;
    right: initial;
    height: 0;
  }

  .management-form {
    margin-bottom: initial;
    margin-left: 15px;
    transform: translate3D(-100px, 0, 0);
  }
  .show-form {
    transform: translate3D(0px, 0, 0);
  }

  .planet {
    display: none;
    height: max-content;
    width: 100%;
    grid-template-columns: initial;
    grid-template-rows: 1fr 1.4fr;
  }

  .show-planet-info {
    display: block;
  }

  .planet-space-wrapper {
    margin-bottom: 120px;
  }

  #omnia-section .planet-space-wrapper {
    min-height: 450px;
  }

  .planet-space {
    align-items: initial;
  }

  #omnia-planet {
    top: 30%;
  }

  .orbit {
    transform: translate3d(-50%, -50%, 0);
    width: 350px;
    height: 350px;
    left: 50%;
    top: 30%;
  }
}
